@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

html{
    font-size: 62.5%;
    font-family: 'Hanken Grotesk', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, li{
    list-style: none;
}