/* - Mobile: 375px
- Desktop: 1440px */
@media(max-width: 768px){
    .container{
        height: 50rem;
        width: 68.4rem;
        gap: 1rem;
    }
}

@media(max-width: 726px){
    .container{
        height: 50rem;
        width: 60.4rem;
        gap: 1rem;
    }
    .elements .btn{
        width: 24rem;
        padding: 1.4rem 0;
    }
}

@media(max-width: 646px){
    .container{
        height: 48rem;
        width: 56.4rem;
        gap: 0.4rem;
    }

    .result .description h2{
        font-size: 2.8rem;
        margin-bottom: 1rem;
    }

    .result .description p{
        padding: 0.7rem;
    }

    .result .description span{
        font-size: 1.7rem;
    }

    .elements{
        padding: 2.5rem 2rem 0 1.9rem;
    }

    .elements .element li{
        padding: 1rem 2rem 1rem 1rem;
    }

    .elements .element li p{
        font-size: 1.6rem;
    }

    .elements .btn{
        width: 22rem;
        padding: 1.4rem 0;
    }
}

@media(max-width: 594px){    
    main{
        height: 100%;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 90rem;
        width: 50.4rem;
        margin-bottom: 3rem;
        gap: 0.2rem;
        border-radius: 0;
        box-shadow: none;
    }

    .container .result{
        height: 50%;
        width: 100%;
        border-radius: 0;
        border-bottom-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
        padding: 1rem 5rem 0 5rem;
    }

    .result .value{
        padding: 1.7rem 3.8rem;
    }

    .result .description{
        margin-bottom: 1rem;
    }

    .result .description h2{
        font-size: 2.8rem;
        margin-bottom: 1rem;
    }

    .result .description p{
        padding: 0.7rem 5rem;
    }

    .result .description span{
        font-size: 1.7rem;
    }

    .elements{
        height: 50%;
        width: 100%;
        padding: 2.5rem 4rem 0 3.9rem;
    }

    .elements .element li{
        padding: 1rem 2rem 1rem 1rem;
    }

    .elements .element li p{
        font-size: 1.6rem;
    }

    .elements .btn{
        width: 43rem;
        padding: 1.8rem 0;
    }
}

@media(max-width: 496px){    
    .container{
        width: 45.4rem;
    }

    .container .result{
        padding: 1rem 3rem 0 3rem;
    }

    .elements{
        padding: 2.5rem 4rem 0 3.9rem;
    }

    .elements h1{
        font-size: 2rem;
        margin-bottom: 3rem;
    }

    .elements .btn{
        width: 36rem;
        padding: 1.8rem 0;
    }
}

@media(max-width: 440px){    
    .container{
        width: 42.4rem;
    }

    .elements .btn{
        width: 34rem;
        padding: 1.8rem 0;
    }
}

@media(max-width: 424px){    
    .container{
        width: 41.4rem;
    }

    .elements .btn{
        width: 32rem;
        padding: 1.6rem 0;
    }
}

@media(max-width: 376px){    
    .container{
        width: 37.4rem;
    }

    .elements .btn{
        width: 30rem;
        padding: 1.4rem 0;
    }
}

@media(max-width: 346px){    
    .container{
        width: 35.4rem;
    }

    .elements .btn{
        width: 27rem;
        padding: 1.4rem 0;
    }
}

@media(max-width: 321px){    
    .container{
        width: 32.4rem;
    }

    .elements .btn{
        width: 24rem;
        padding: 1.2rem 0;
    }
}