:root{
    /* Gradients CONTAINER */
    --Light-slate-blue-background: hsl(252, 100%, 67%);
    --Light-royal-blue-background: hsl(241, 81%, 54%);

    --Violet-blue-circle: hsla(256, 72%, 46%, 1);
    --Persian-blue-circle: hsla(241, 72%, 46%, 0);
    
    /* Primary ELEMENTS*/
    --Light-red: hsl(0, 100%, 67%);
    --Light-red-background: hsla(0, 100%, 67%, 0.07);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Orangey-yellow-background: hsla(39, 100%, 56%, 0.07);
    --Green-teal: hsl(166, 100%, 37%);
    --Green-teal-background: hsla(166, 100%, 37%, 0.07);
    --Cobalt-blue: hsl(234, 85%, 45%);
    --Cobalt-blue-background: hsla(234, 85%, 45%, 0.07);

    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}